# Enter your desired rcon password below.
RconPassword=passwordgoeshere

# Enter the port you want your ServUO server to listen for RCON packets on here
ListenPort=27030

# Uncomment the following items and put in the server IP and port you wish to send UDP packets to for relaying chat. All three keys are required. The server will send a UDP packet containing messages from the specified chat channel to the Address:Port listed.
ChatPacketTargetAddress=127.0.0.1
ChatPacketTargetPort=27035
ChatChannel=Discord
AutoJoinChatChannel=True

# Send packets containing world chat to the ChatPacketTarget
WorldChatLog=True

# Setting this option to True will enable the [VerifyExternal command and allow the server to handle/send verification packets to players and the ChatPacketTarget. ChatPacketTarget and ChatPacketPort are required if this is set to True.
AllowAccountLink=True
